header {
    background-color: darkgreen;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.8em;
    display: inline-block;
}

a:hover {
    color: darkgreen;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-around;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

#flex-container > section {
    flex: 200px;
    border: 1px solid black;
}